go get -t github.com/StackExchange/wmi
go get -t github.com/shirou/gopsutil/cpu
go get -t github.com/shirou/gopsutil/mem
go get -t github.com/denisbrodbeck/machineid

go get -t github.com/sirupsen/logrus
